[submodule "pack/vendor/start/mru"]
	path = pack/vendor/start/mru
	url = https://github.com/lvht/mru.git
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/lvht/fzf.git
[submodule "pack/vendor/start/tagbar"]
	path = pack/vendor/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/vendor/start/tender"]
	path = pack/vendor/start/tender
	url = https://github.com/jacoborus/tender.vim.git
[submodule "pack/vendor/start/fugitive"]
	path = pack/vendor/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/vendor/start/vimagit"]
	path = pack/vendor/start/vimagit
	url = https://github.com/jreybert/vimagit.git
[submodule "pack/vendor/start/tcomment"]
	path = pack/vendor/start/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "pack/vendor/start/tabular"]
	path = pack/vendor/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule "pack/vendor/start/tagbar-proto"]
	path = pack/vendor/start/tagbar-proto
	url = https://github.com/tenfyzhong/tagbar-proto.vim
[submodule "pack/vendor/start/treesitter"]
	path = pack/vendor/start/treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/vendor/start/lspconfig"]
	path = pack/vendor/start/lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "pack/vendor/start/colorizer"]
	path = pack/vendor/start/colorizer
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule "pack/vendor/start/cmp"]
	path = pack/vendor/start/cmp
	url = https://github.com/hrsh7th/nvim-cmp
[submodule "pack/vendor/start/cmp-lsp"]
	path = pack/vendor/start/cmp-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
[submodule "pack/vendor/start/cmp-path"]
	path = pack/vendor/start/cmp-path
	url = https://github.com/hrsh7th/cmp-path
[submodule "pack/vendor/start/cmp-buffer"]
	path = pack/vendor/start/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
[submodule "pack/vendor/start/cmp-vsnip"]
	path = pack/vendor/start/cmp-vsnip
	url = https://github.com/hrsh7th/cmp-vsnip
[submodule "pack/vendor/start/vim-vsnip"]
	path = pack/vendor/start/vim-vsnip
	url = https://github.com/hrsh7th/vim-vsnip
[submodule "pack/vendor/start/ag"]
	path = pack/vendor/start/ag
	url = https://github.com/epii1/ag.vim
[submodule "pack/vendor/start/plenary"]
	path = pack/vendor/start/plenary
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "pack/vendor/start/gitsigns"]
	path = pack/vendor/start/gitsigns
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/vendor/start/treesitter-textobjects"]
	path = pack/vendor/start/treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects.git
[submodule "pack/vendor/start/autolist"]
	path = pack/vendor/start/autolist
	url = https://github.com/gaoDean/autolist.nvim.git
[submodule "pack/vendor/start/tree"]
	path = pack/vendor/start/tree
	url = https://github.com/nvim-tree/nvim-tree.lua.git
