[submodule "pack/vendor/start/mru"]
	path = pack/vendor/start/mru
	url = https://github.com/lvht/mru.git
[submodule "pack/vendor/start/fzf"]
	path = pack/vendor/start/fzf
	url = https://github.com/lvht/fzf.git
[submodule "pack/vendor/start/airline"]
	path = pack/vendor/start/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/vendor/start/tagbar"]
	path = pack/vendor/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/vendor/start/ack"]
	path = pack/vendor/start/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/vendor/start/markdown"]
	path = pack/vendor/start/markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "pack/vendor/start/tagbar-markdown"]
	path = pack/vendor/start/tagbar-markdown
	url = git@github.com:lvht/tagbar-markdown.git
